extends layout

block content
  .col-lg-offset-2.col-lg-8.background

    #user-content(class="col-lg-12", data-video="#{user.profile.slug}")
      h1 #{user.profile.name}
      p #{user.profile.age} ans - #{user.profile.city} - #{user.profile.country}

      img(src="http://api.tiles.mapbox.com/v3/warpath.ik58n87j/pin-s+cc4422(#{user.profile.geocode.lon},#{user.profile.geocode.lat},3)/#{user.profile.geocode.lon},#{user.profile.geocode.lat},1/100x50.png")

      .level 
        .title LEVEL
        .points 21444 PTS

      .next-level
        .title NEXT
        .points 1000 PTS

      .videos
        h2 Ses vidéos de ouf

        ul
          each video in videos
            li
              p #{video.title}
              img(src="#{video.image}")
              .stats
                .likes #{video.likes}
                .views #{video.views}
                .type  #{video.type}
