extends layout

block meta
  meta(property='og:type', content='website')
  meta(property='og:title', content='#{profile.profile.name} - Profil | WarPath, go further or die trying’')
  meta(property='og:site_name', content='WarPath')
  meta(property='og:url', content='http://www.wrpth.com/user/#{profile.profile.slug}')
  meta(property='og:description', content='Attrape tes tripes et retiens-les correctement ! T’es sportif extrême ? Dépêche-toi de le prouver !')
  if user.profile.picture
    meta(property='og:image', content='#{profile.profile.picture}')
  else
    meta(property='og:image', content='#{profile.profile.picture}')

block prepend head
  != js('jquery.sharrre.min')

block content
  .col-lg-offset-2.col-lg-8.background

    #user-content(class="col-lg-12", data-video="#{profile.profile.slug}")

      #profile
        if user.profile.picture
          img.profile-picture(src='#{profile.profile.picture}')
        else
          img.profile-picture(src='#{profile.gravatar(110)}')

        img.profile-map(src="http://api.tiles.mapbox.com/v3/warpath.ik58n87j/pin-s+cc4422(#{profile.profile.geocode.lon},#{profile.profile.geocode.lat},3)/#{profile.profile.geocode.lon},#{profile.profile.geocode.lat},1/200x100.png")

        h1 #{profile.profile.name}
        .social-icons
          if user.email
            a.fa.fa-envelope(href='#')
          if user.vimeo && user.vimeo.username 
            a.fa.fa-vimeo-square(target="_blank", href='https://vimeo.com/#{profile.vimeo.username}')
          if user.instagram && user.instagram.username 
            a.fa.fa-instagram(target="_blank", href='https://instagram.com/#{profile.instagram.username}')
          if user.google && user.google.channel 
            a.fa.fa-youtube(target="_blank", href='https://youtube.com/channel/#{profile.google.channel}')

          .clearfix
        br
        p.profile-infos #{profile.profile.age} ans - #{profile.profile.city} - #{profile.profile.country}

        .level 
          .title LEVEL
          .points #{level.points} WPTS

        .next-level
          .title NEXT
          .points #{level.nextLevel} WPTS
        
        button.shareme.btn(data-url="http://wrpth.com/#{profile.profile.slug}" data-text="Le profil de #{profile.profile.slug} - WRPTH.com" data-title="Partage-moi ça !") 

        .clearfix
      
      if videos
        .videos
          h2 Ses vidéos de ouf
          ul
            each video in videos
              li
                a(href="#{video.link}", title="#{video.title}")
                  p #{S(video.title).truncate(40).s}
                  img(src="#{video.image}")
                  .stats
                    .likes #{video.likes}
                    .views #{video.views}
                    .type  
                      if video.type == 'mountain'
                        button.active.btn-mountain Montagne
                      if video.type == 'air'
                        button.active.btn-air Air
                      if video.type == 'snow'
                        button.active.btn-snow Neige
                      if video.type == 'land'
                        button.active.btn-land Terre
                      if video.type == 'water'
                        button.active.btn-water Eau

            .clearfix
      

    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4#myModalLabel.modal-title Contact
          .modal-body
            if user.id
              form.form-horizontal(id='email-form', method='POST', action="/contact_user")
                input(type='hidden', name='_csrf', value=_csrf)
                input(type='hidden', name='to', value="#{profile._id}")
                input(type='hidden', name='fromUrl', value="/user/#{profile.profile.slug}")
                legend Tu veux contacter #{profile.profile.name} ?
                .form-group
                  label.col-sm-3.control-label(for='message') Message
                  .col-sm-7
                    textarea.form-control(rows="3", name='message', id='message', placeholder='Ton message', autofocus)
                .form-group
                  .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                      i.fa.fa-check
                      | Envoyer

            else
              p Pour contacter #{profile.profile.name} tu dois être inscrit sur WarPath !
              a(href="/signup") C'est par là !
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Annuler
    
    style.
      .modal-content{
        background:#fff;
      }
      textarea{
        color:#000 !important;
      }

    script.
      $('.shareme').sharrre({
        share: {
          //googlePlus: true,
          facebook: true,
          twitter: true
        },
        enableTracking: false,
        buttons: {
          //googlePlus: {size: 'tall', annotation:'bubble'},
          facebook: {layout: 'box_count'},
          twitter: {count: 'vertical'},
        },
        hover: function(api, options){
          $(api.element).find('.buttons').show();
        },
        hide: function(api, options){
          $(api.element).find('.buttons').hide();
        }
      });

      $('.fa-envelope').on('click',function(){
        $('#myModal').modal('show');
      });

