extends ../layout

block content

  form#import-list.form-horizontal(method='POST')
    legend C'est l'heure de choisir
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='videos', value="")
    ul
      each video in videos
        li.form-group(id="#{video.platform}_#{video.id}")
          input.checkbox(value="#{video.platform}_#{video.id}" type='checkbox', checked=false)
          a.form-label.col-sm-9.col-sm-offset-1(target='_blank' href='#{video.link}')
            img.col-sm-3(src='#{video.image}')
            h3.col-sm-9 #{video.title}
            

    .form-group
      button.btn.btn-primary.btn-submit(type='submit')
        i.fa.fa-keyboard-o
        | Prochaine étape

  script(type="text/javascript").
    $(function(){

      $('form').submit(function(e) {
        e.preventDefault();

        var videos = [];

        $('.checkbox:checked').each(function(index, el){
          videos.push($(el).val());  
        });

        $('[name=videos]').val(JSON.stringify(videos));

        $('form')[0].submit();
      });

    });
        
