.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/') 
        span WARPATH
    .collapse.navbar-collapse
      ul.nav.navbarnav.col-lg-6.col-lg-offset-2
        li.col-lg-12.ui-front(class='search')
          input#search.form-control(type='text', placeholder='WHAT I WANT TO SEE...')
          select#search-type.form-control
            option(value='Video') Videos
            option(value='User') Users
          //- .search-button

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
<<<<<<< HEAD
            a(href='/login') Je me connecte
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Je veux un compte 
=======
            a.btn.btn-connect(href='/login') Connecte-toi !
          li(class=title=='Create Account'?'active':undefined)
            a.btn.btn-signup(href='/signup') Inscris-toi !
>>>>>>> FETCH_HEAD
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') Mon compte
              li.divider
              li: a(href='/logout') Je me casse
